In [7]:
import pandas as pd
import warnings
import os
warnings.filterwarnings("ignore")
import numpy as np
from datetime import datetime

In [8]:
filelist = os.listdir("Raw Files")
filelist

['2016_Q1.csv',
 '2018_Q4.csv',
 '2014_Q4.csv',
 '2016_Q2.csv',
 '2019-Q1.csv',
 '2016_Q3.csv',
 '2018_Q2.csv',
 '2014_Q2.csv',
 '2014_Q3.csv',
 '2015-Q4.csv',
 '2018_Q3.csv',
 '2018_Q1.csv',
 '2016_Q4.csv',
 '2014_Q1.csv',
 '2017_Q3.csv',
 '2017_Q2.csv',
 '2017_Q1.csv',
 '2017_Q4.csv',
 '2015_Q1.csv',
 '2015_Q3.csv',
 '2015_Q2.csv']

In [9]:
cleaned_df = pd.DataFrame({'Month/Year': [], 'Trips': [], 'Miles': [], 'Short Term Memberships Purchased': [], 'Daily Memberships Purchased': []})
for file in filelist:
    df = pd.read_csv("Raw Files/"+file)
    df_new = df[['Date', 'Trips over the past 24-hours (midnight to 11:59pm)', 'Miles traveled today (midnight to 11:59 pm)', '3-Day Passes Purchased (midnight to 11:59 pm)','24-Hour Passes Purchased (midnight to 11:59 pm)']]
    df_renamed = df_new.rename(columns={'Trips over the past 24-hours (midnight to 11:59pm)':'Trips','Miles traveled today (midnight to 11:59 pm)':'Miles','3-Day Passes Purchased (midnight to 11:59 pm)':'Short Term Memberships Purchased','24-Hour Passes Purchased (midnight to 11:59 pm)':'Daily Memberships Purchased' })
    df_renamed['Date'] = pd.to_datetime(df_renamed['Date'], format='%m/%d/%Y',infer_datetime_format=True)
    df_renamed['Month/Year'] = df_renamed['Date'].dt.strftime('%m/%y')
    df_month = df_renamed.groupby("Month/Year").sum().reset_index()
    cleaned_df = cleaned_df.append(df_month, ignore_index=True)

In [10]:
cleaned_df['Month/Year'] = pd.to_datetime(cleaned_df['Month/Year'], format='%m/%y')
cleaned_df['Month'] = cleaned_df['Month/Year'].dt.strftime('%m')
cleaned_df['Year'] = cleaned_df['Month/Year'].dt.strftime('%Y')
df_final = cleaned_df[['Year', 'Month', 'Trips', 'Miles', 'Daily Memberships Purchased','Short Term Memberships Purchased']]
df_final.sort_values(by=['Year', 'Month']).head()

,Year,Month,Trips,Miles,Daily Memberships Purchased,Short Term Memberships Purchased
39,2014,01,327249.0,432.832,2876.0,327.0
40,2014,02,247352.0,356.233,3090.0,244.0
41,2014,03,478029.0,693.825,9651.0,735.0
21,2014,04,730091.0,1231.795,25699.0,1880.0
22,2014,05,954994.0,1701.293,40615.0,3260.0

In [11]:
cleaned_df.to_csv("df_final.csv", index=False, header=True)