In [7]:
import pandas as pd
import warnings
import os
warnings.filterwarnings("ignore")
import numpy as np
from datetime import datetime

In [8]:
df = pd.read_csv("YOY/Jan 2018.csv")
df_1 = df[['start station id', 'birth year']]
df_1["age"]= 2018-df_1["birth year"]
bins = [0, 19, 29, 39, 49, 59, 79, 100]
group_names = ["Teens", "20s", "30s", "40s", "50s", "60+", "Ignore"]
df_1["Age Group"] = pd.cut(df_1["age"], bins, labels=group_names)
df_count = df_1.groupby(['Age Group']).count()
df_renamed= df_count.rename(columns={"birth year": "JAN 2018 Trips"})
df_final_2018 = df_renamed[['JAN 2018 Trips']]

In [9]:
df = pd.read_csv("YOY/Jan 2019.csv")
df_1 = df[['start station id', 'birth year']]
df_1["age"]= 2018-df_1["birth year"]
bins = [0, 19, 29, 39, 49, 59, 79, 100]
group_names = ["Teens", "20s", "30s", "40s", "50s", "60+", "Ignore"]
df_1["Age Group"] = pd.cut(df_1["age"], bins, labels=group_names)
df_count = df_1.groupby(['Age Group']).count()
df_renamed= df_count.rename(columns={"birth year": "JAN 2019 Trips"})
df_final_2019 = df_renamed[['JAN 2019 Trips']]

In [10]:
df_joined_age = pd.merge(df_final_2018, df_final_2019, on='Age Group')

In [11]:
df_joined_age["% Increase"] = ((df_joined_age["JAN 2019 Trips"]-df_joined_age["JAN 2018 Trips"])/df_joined_age["JAN 2018 Trips"])
df_joined_age

           JAN 2018 Trips  JAN 2019 Trips  % Increase
Age Group
Teens                3961            9903    1.500126
20s                152585          241859    0.585077
30s                227829          297941    0.307740
40s                174731          218301    0.249355
50s                110961          139688    0.258893
60+                 47960           58037    0.210113
Ignore                481             719    0.494802

In [12]:
df_joined_age.to_csv("YOYage.csv", index=True, header=True)